.custom-blog-section {
  width: 100%;
  padding: 112px 8vw 180px 8vw;
  background: #fff;
}

.custom-inner-blog-section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  gap: 32px;
}

.custom-blog-header {
  width: 100%;
  text-align: center;
}

.custom-blog-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 33.6px;
  text-transform: uppercase;
  color: #9D0A0E;
  font-family: 'Red Hat Display', sans-serif;
}

.custom-blog-title {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: #070912;
  margin-top: 12px;
}

.custom-blog-btn-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.custom-blog-btn {
  width: 200px;
  height: 50px;
  border-radius: 9999px;
  border: transparent;
  background: linear-gradient(to right, #9d0a0e, #f15922);
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.custom-blog-btn:hover {
  background: white;
  color: #9d0a0e;
  border:2px solid #9d0a0e;
}

.custom-blog-btn span:first-child {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.custom-blog-btn span:last-child {
  opacity: 0;
  transform: translateX(0);
  transition: all 0.3s ease;
  color: #9d0a0e;
  margin-left: 80px;
}

.custom-blog-btn:hover span:last-child {
  opacity: 1;
  transform: translateX(8px);
}
@media (max-width: 768px) {
  .custom-blog-section {
    padding: 64px 5vw 100px 5vw;
  }

  .custom-blog-subtitle {
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
  }

  .custom-blog-title {
    font-size: 24px;
    font-weight: 800;
    line-height: 40px;
    margin-top: 8px;
  }

  .custom-blog-btn-container {
    margin-top: 40px;
  }

  .custom-blog-btn {
    width: 160px;
    height: 44px;
    font-size: 14px;
  }

  .custom-blog-btn span:last-child {
    margin-left: 50px;
  }
}
