.event-container {
    padding: 112px 144px;
    width: 100%;
    height: 1500px;
  }

  .event-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 24px;
    width: 1232px;
    /* margin-left: 90px; */
    height: auto;
  }

  
.sidebar-category {
    height: 228px;
    width: 290px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar-link {
    padding: 12px;
    background: #ffffff;
    color: #000000;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.sidebar-link:hover {
    background: #991b1b;
    color: #ffffff;
}

.sidebar-arrow {
    display: flex;
    justify-content: flex-end;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
    width: 920px;
}

.event-card {
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    height: 410px;
    transition: all 0.3s ease;
    position: relative;
}

.event-image-default,
.event-image-hover {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.event-image-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.event-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    height: 160px;
    transition: all 0.3s ease;
}

.event-title {
    font-size: 1.125rem;
    font-weight: 600;
    font-family: 'Red Hat Display', sans-serif;
    margin-top: 12px;
}

.event-divider {
    border-top: 1px solid;
    margin-top: 12px;
}

.event-explore-btn {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
}

.event-arrow {
    margin-left: auto;
    opacity: 0;
    transition: all 0.3s ease;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 650px;
}

.pagination-list {
    display: flex;
    gap: 8px;
}

.pagination-container {
    grid-column: span 4 / span 4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-top: 10px;
    /* margin-bottom: 20px; */
  }
  .pagination-list {
    display: flex;
    gap: 8px;
  }