/* About Us Section */
.about-section {
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    min-height: 900px;
    padding: 112px 144px;
    gap: 80px;
  }
   
.learn-more-btn {
  display: flex;
  width: 180px;
  height: 60px;
  align-items: center;
  background-color: #d63b2f;
  color: #fff;
  /* padding: 12px 20px; */
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  justify-content: center;
  cursor: pointer;
  /* transition: 0.3s ease-in-out; */
}

.learn-more-btn:hover {
  background-color: #a92d23;
}

.learn-more-btn span {
  margin-left: 10px;
}
  /* Right Content Wrapper */
  .about-text-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px; /* Matches gap-6 */
  }
  
  /* Section Subtitle */
  .about-subtitle {
    color: #9D0A0E;
    font-weight: 800;
    font-size: 24px;
    line-height: 33.6px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: -32px;
  }
  
  /* Section Title */
  .about-title {
    color: black;
    font-weight: 800;
    font-size: 45px;
    line-height: 84px;
    font-family: 'Red Hat Display', sans-serif;
  }
  
  /* Highlighted Text */
  .highlighted-text {
    font-weight: bold;
    color: #9D0A0E;
  }
  
  /* Description Text */
  .about-description {
    color: #070912;
    font-size: 16px;
    line-height: 22.4px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
  }
  
  /* Primary Paragraph */
  .about-primary-text {
    font-size: 26px;
    color: #070912;
    line-height: 39px;
    font-weight: 600;
    font-family: 'Red Hat Display', sans-serif;
  }
  
  .about-image-container {
    position: relative;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    margin-top: 120px;
    width: 50%;
  }
  
  .about-image {
    margin-bottom: 90px;
    width: 776px;
    height: 721px;
    border-radius: 12px;
    object-fit: contain;
  }
  