/* Why Choose Us Section */
.why-choose-us {
    display: flex;
    width: 100%;
    height: 500px;
  }
  
  /* Left Section */
  .why-choose-left {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #510002;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 100px 80px 144px;
    gap: 10px;
  }
  
  /* Background Image */
  .why-choose-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.05;
  }
  
  /* Section Subtitle */
  .why-choose-subtitle {
    font-weight: 800;
    font-size: 24px;
    line-height: 33.6px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-family: 'Red Hat Display', sans-serif;
    position: relative;
    z-index: 10;
  }
  
  /* Section Title */
  .why-choose-title {
    font-weight: 800;
    font-size: 50px;
    line-height: 84px;
    font-family: 'Red Hat Display', sans-serif;
    width: 700px;
    position: relative;
    z-index: 10;
  }
  
  /* Feature Icons & Text */
  .feature-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 40px;
    position: relative;
    z-index: 10;
  }
  
  .feature-item {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .feature-icon {
    width: 60px;
    height: 60px;
  }
  
  .feature-title {
    margin-top: 8px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
  }
  
  /* CTA Button */
  .explore-btn {
    display: flex;
    align-items: center;
    background-color: #d63b2f;
    color: #fff;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
   .explore-btn:hover {
    background-color: #a92d23;
  }
  
  .learn-more-btn span, .explore-btn span {
    margin-left: 10px;
  }
  
  
  /* Right Section */
  .why-choose-right {
    width: 50%;
    height: 100%;
  }
  
  .why-choose-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  