.history-section {
    display: flex;
    flex-direction: row;
    max-width: 1420px;
    margin: 0 auto;
    padding: 112px 72px;
    gap: 24px;
}

.history-content {
    height: 537px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: left;
}

.history-header{
    width: 548px;
    height: 118px;
}

.history-subtitle {
    width: 548px;
    height: 34px;
    color: #9d0a0e;
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Red Hat Display', sans-serif;
    /* letter-spacing: 0.08em; */
    line-height: 33.4px;
    case: uppercase;
    margin-bottom: 8px;
}

.history-title {
    width: 590px;
    height: 84px;
    color: #070912;
    font-weight: 800;
    font-size: 60px;
    line-height: 1.2;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: 16px;
}
.his-para{
    width: 600px;
    height: 292px;
    gap: 32px;
}
.history-paragraph {
    width: 630px;
    color: #070912;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height:22.4px;
    
    margin-bottom: 12px;
    text-align: justify;
    /* gap: 32px; */
}

.history-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-image {
    width: 700px;
    height: 610px;
    max-width: 800px;
    height: auto;
    padding-left: 20px;
    border-radius: 8px;
    object-fit: contain;
}
.history-btn button {
  width: 250px;
  height: 55px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 64px;
  border-radius: 40px;
  background: linear-gradient(to right, #9d0a0e, #f15922);
  color: white;
  font-weight: 600;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.history-btn button:hover {
  background: white;
  color: #9d0a0e;
  border: 2px solid #9d0a0e;
}

.history-btn button span:last-child {
  transition: transform 0.3s ease;
}

.history-btn button:hover span:last-child {
  transform: translateX(6px);
}


.about-container{
width: 100%;
height: 395.5px;
padding-top: 80px;
padding-bottom: 80px;
padding-left: 144px;
padding-right: 144px;
display: flex;
flex-direction: row;
justify-content: center;
gap: 30px;
}

.about-card{
    width: 428px;
    height: 235.5px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: #19213D1C 0px 4px 10px;
    /* display: flex; */
    padding-top: 30px;

}


.about-card-img{
    width: 60px;
    height: 60px;
    padding: 4px;
    gap:8px;
    justify-self: center;

}


.about-card-title {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 42px;
    color: #070912;
    margin: 0 auto;
    max-width: 428px;
    text-align: center;
}


.about-card-desc{
    width: 400px;
    height: 25px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #070912;
    margin: 0 auto;
    text-align: center;
}

.map-global{
    margin-top: 50px;
}

.team-wrapper {
    max-width: 1420px;
    height: 1242px;
    /* padding-left: 144px; */
    /* padding-right: 144px; */
    padding-top:100px;
    padding-bottom: 100px;
    gap: 2px;
    margin: 0 auto;
    text-align: center;
  }
.team-heading{
    width: 100%;
    height: 218px;
    gap: 16px;
}
  .team-subtitle {
    /* width: 873px; */
    height: 34px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
    color: #9d0a0e;
    text-transform: uppercase;
    line-height: 33.6px;
    font-size: 24px;
    text-align: center;
  }

  .team-title {
    max-width: 1032px;
    height: 168px;
    color: #0A0A0A;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
    line-height: 84px;
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
}

.team-section {
    width: 1432px;
    height: 768px;
    gap: 2px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 2rem;
    margin: 0 auto;
    margin-left: 5px;
  }
  
  .team-card {
    width: 272.2px;
    height: 372.2px;
    background: #ffffff;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #FEEEE9;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .team-card:hover {
    background-color: #9d0a0e;
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  }
  
  .team-card-image {

    width: 240.2px;
    height: 240.2px;
    object-fit: cover;
    radius: 50%;
  }
  
  /* bottom content wrapper */
  .team-card-content {
    width: 240px;
    height: 100px;
    padding: 16px 24px 16px 24px;
    gap: 8px;
    transition: background 0.3s ease, color 0.3s ease;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  
 
  
  .team-card:hover .team-card-name,
  .team-card:hover .team-card-role {
    color: #ffffff;
  }
  
  .team-card-name {
    width: 192px;
    height: 34px;
    font-family: 'Red Hat Display', sans-serif;
    line-height: 33.6px;
    font-size: 24px;
    font-weight: 600;
    color: #070912;
  }
  
  .team-card-role {
    width: 192px;
    height: 26px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 25.2px;
    color: #070912;
    font-size: 18px;
    margin-top: 0.25rem;
  }
  